<!-- templates/sidebar.html -->

<div class="col-md-3 col-lg-2 bg-dark min-vh-100 p-3">

    <h4 class="text-white mb-4">
        HRMS MENU
    </h4>


    <ul class="nav flex-column">


        <!-- DASHBOARD -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/dashboard_page">

                🏠 Dashboard

            </a>

        </li>


        <!-- COMPANY -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/company_page">

                🏢 Company

            </a>

        </li>


        <!-- RESOURCE -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/resource_page">

                👨‍💼 Resource

            </a>

        </li>


        <!-- CLIENT MSA -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/client_msa_page">

                📄 Client MSA

            </a>

        </li>


        <!-- CLIENT WORK ORDER -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/client_work_order_page">

                📋 Client Work Order

            </a>

        </li>


        <!-- SUPPLIER MSA -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/supplier_msa_page">

                📑 Supplier MSA

            </a>

        </li>


        <!-- SUPPLIER PO -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/supplier_po_page">

                🧾 Supplier PO

            </a>

        </li>


        <!-- TIMESHEET -->

        <li class="nav-item mb-2">

            <a class="nav-link text-white"
               href="/timesheet_page">

                ⏱️ Timesheet

            </a>

        </li>


    </ul>

</div>